body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#players, #current_player, #discard_pile, #player_hand, #game_log {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button .action{
    background-color: white;
    color: #4CAF50;
    border:#4CAF50 2px;
}

button:hover {
    background-color: #45a049;
}

#color_picker {
    margin-top: 20px;
}

#color_picker button {
    background-color: #f44336; 
}

#game_log p {
    font-size: 14px;
    color: #555;
}

select, label {
    font-size: 16px;
}
